In [7]:
import pandas as pd
import numpy as np
import datetime as dt
from display_side import display_side

In [8]:
### 포맷에 글자 섞였을 때
df22 = pd.DataFrame({'시점': ['2022-11 월', '2022-12 월', '2023-01 월'], 'df22': [0.1, 0.2, 0.3]})
df22

          시점  df22
0  2022-11 월   0.1
1  2022-12 월   0.2
2  2023-01 월   0.3

In [9]:
df22['시점'] = pd.to_datetime(df22['시점'], format='%Y-%M 월').dt.date
df22

           시점  df22
0  2022-01-01   0.1
1  2022-01-01   0.2
2  2023-01-01   0.3

In [24]:
### float형 format 변환 가능여부
df = pd.DataFrame({'시점': [2022.11, 2022.12, 2023.01], 'df': [1, 2, 3]})

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시점      3 non-null      float64
 1   df      3 non-null      int64
dtypes: float64(1), int64(1)
memory usage: 176.0 bytes

In [26]:
pd.to_datetime(df['시점'], format='%Y.%M')

ValueError: time data '2022' does not match format '%Y.%M' (match)

In [27]:
# float형 format 변환 불가능하다.
df2 = pd.DataFrame({'시점': ['2022.11', '2022.12', '2023.01'], 'df2': [1, 2, 3]})

In [28]:
pd.to_datetime(df2['시점'], format='%Y.%M')

0   2022-01-01 00:11:00
1   2022-01-01 00:12:00
2   2023-01-01 00:01:00
Name: 시점, dtype: datetime64[ns]

In [32]:
# float -> str로 바꿔줘야 한다.
df['시점'] = df['시점'].astype('str')
pd.to_datetime(df['시점'], format='%Y.%M')

0   2022-01-01 00:11:00
1   2022-01-01 00:12:00
2   2023-01-01 00:01:00
Name: 시점, dtype: datetime64[ns]