In [47]:
# PPI
# - 계정코드별' 컬럼값이 '총지수' 가 아닌 행 삭제
# - 시점, 생산자물가지수(기본분류) 컬럼만 남김
# - 컬럼명 변경: 시점, PPI

In [48]:
import os
import pandas as pd

In [49]:
ppi = pd.read_csv('PPI.csv', encoding='cp949')
ppi

          계정코드별         시점  생산자물가지수(기본분류)  Unnamed: 3
0           총지수  1997.07 월          69.44         NaN
1           총지수  1997.08 월          69.58         NaN
2           총지수  1997.09 월          69.79         NaN
3           총지수  1997.10 월          69.65         NaN
4           총지수  1997.11 월          70.02         NaN
...         ...        ...            ...         ...
152730  기타제조업제품  2022.05 월         119.52         NaN
152731  기타제조업제품  2022.06 월         120.10         NaN
152732  기타제조업제품  2022.07 월         121.87         NaN
152733  기타제조업제품  2022.08 월         122.78         NaN
152734  기타제조업제품  2022.09 월         122.84         NaN

[152735 rows x 4 columns]

In [50]:
ppi.loc[302]

계정코드별                  총지수
시점               2022.09 월
생산자물가지수(기본분류)       120.16
Unnamed: 3             NaN
Name: 302, dtype: object

In [51]:
ppi.loc[303]

계정코드별                   상품
시점               1997.07 월
생산자물가지수(기본분류)        69.39
Unnamed: 3             NaN
Name: 303, dtype: object

In [52]:
# 302번째까지만 가져오면 됨
ppi = ppi.loc[range(303)].drop(columns=['계정코드별', 'Unnamed: 3'])

In [59]:
ppi.rename(columns={'생산자물가지수(기본분류)': 'PPI'}, inplace=True)
ppi

            시점     PPI
0    1997.07 월   69.44
1    1997.08 월   69.58
2    1997.09 월   69.79
3    1997.10 월   69.65
4    1997.11 월   70.02
..         ...     ...
298  2022.05 월  119.43
299  2022.06 월  120.10
300  2022.07 월  120.44
301  2022.08 월  119.98
302  2022.09 월  120.16

[303 rows x 2 columns]

In [60]:
### 저장
path = 'C:/Users/USER/Desktop/transdata'
ppi.to_csv(os.path.join(path, 'PPI2.csv'), encoding='cp949', index=False)
# PPI2 -> PPI 로 이름 바꿨음